@charset "ISO-8859-1";

body {
	margin: 32px 10%;
}

.container {
	border: 1px solid black;
	padding: 16px 24px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label {
	margin: 16px 0 4px 0;
}

button {
	padding: 4px 8px;
	color: white;
	border: 2px solid black;
	box-shadow: 2px 2px black;
	cursor: pointer;
}

input {
	width: 20%;
}

textarea {
	width: 20%;
}

.bg-primary {
	background-color: #587da9;
}